<div class="bg_info d-flex justify-content-center align-items-center vh-100">
  <div class="bg-black p-5 rounded-5 text-secondary shadow" style="width: 30rem">
    <div class="text-center fs-1 fw-bold">Modificar</div>
      <div class="row">
        <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
            <input type="hidden" value="{{novedad.id}}" name="id">
            <div class="input-group mt-4">
                <div class="col-sm-10">
                  <input type="text" class="form-control bg-light" id="inputTitulo" placeholder="Titulo" name="titulo" value="{{novedad.titulo}}" style="width: 24rem">
                </div>
            </div>
            <div class="input-group mt-1">
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-light " id="inputSubtitulo" placeholder="Subtitulo" name="subtitulo" value="{{novedad.subtitulo}}" style="width: 24rem">
                </div>
            </div>
            <div class="input-group mt-1">
                <div class="col-sm-10">
                    <input type="text" class="form-control bg-light " id="inputCuerpo" placeholder="Cuerpo" name="cuerpo" value="{{novedad.cuerpo}}" style="width: 24rem"/>
                </div>
            </div>
            <div >
                <p >
                    <label>Imagen:<input type="file" class="form-control bg-light " id="imagen" name="imagen" /></label>
                </p>
                <p>
                    <label class="form-check-label"><input type="checkbox" class="form-check-input" id="img_delete" name="img_delete" value="1" /> ¿Eliminar la imagen actual? </label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}" />
                </p>
            </div>
            <button type="submit" class="btn btn-info text-black w-100 mt-4 fw-semibold shadow-sm">Guardar</button>
            <div
            class="btn d-flex gap-2 justify-content-center border mt-3 shadow-sm" >
            </div>
        </form>
        {{#if error}}
            <p class="text-center text-danger">
              <h5>{{message}}</h5>
            </p>
        {{/if}}
      </div>
  </div>
</div>

