
<div class="container" style="margin-top: 50px;">
    {{!-- inicio fila 1 --}}
    <div class="row" >
        <p class="text-end">Hola {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"> </i></a></p>
    </div>
    {{!-- fin fila 1 --}}
        {{!--  inicio fila 2 --}}
        <div class="row">
            <div class="col-7">
                <h3>Listado de novedades(productos/servicios)</h3>
            </div>
            <div class="col-5 text-end">
                <a class="btn btn-success" href="/admin/novedades/agregar"><i class="bi bi-plus"></i>Nuevo</a>
            </div>
        </div>
        {{!-- fin fila 2 --}}
        {{!-- inicio fila 3 --}}
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Imagen</th>
                            <th class="text-end">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each novedades}}    
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{titulo}}</td>
                            <td>{{{imagen}}}</td>
                            <td class="text-end">
                                <a href="/admin/novedades/modificar/{{id}}" class="btn btn-secondary" ><i class="bi bi-pencil-fill" aria-hidden="true"></i><a/>
                                <a href="/admin/novedades/eliminar/{{id}}"   class="btn btn-secondary" ><i class="bi bi-eraser-fill" aria-hidden="true"></i><a/> 
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{!-- fin fila 3 --}}
</div>
    


